@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

html {
  font-size: 10px;
}

body {
  background: #000;
  overflow-x: hidden;
}

* {
  line-height: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
